{
  "parserOptions": {
    "ecmaVersion": 7,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true,
        "modules": true
      }
  },
    "globals": {
      "document": true,
      "window": true
    },
    "plugins": [
      "react"
    ],
    "rules": {
      "react/jsx-uses-react": 0,
      "react/jsx-filename-extension": 0,
      "no-unused-vars": 0
    }
}
