@import 'global-imports';

.grid-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    @include outer-container;

    @include media($desktop) {
        max-width: inherit;
    }

    > div {
        @include media($desktop) {
            width: 980px;
            margin: 0 auto;
        }
    }


    .grid {
        height: 900px;
        background: #f600f6;
        opacity: 0.5;
        @include span-columns(1 of 6);

        @include media($tablet) {
            @include span-columns(1 of 9);
        }

        @include media($desktop) {
            @include span-columns(1 of 12);
        }
    }
}
