/// sets desktop visual grid to be 960 pixels wide
/// @group visual-grid
$max-width: rem(940);

/// mobile breakpoint with 6 columns
/// @group breakpoints
/// @example use:
///   @include media($mobile){
///     [stuff]
///   }
$mobile: (
  gutter: 10px,
  columns: 6
);

/// tablet breakpoint with 9 columns
/// @group breakpoints
/// @example use:
///   @include media($tablet){
///     [stuff]
///   }
$tablet: (
  media: 768px,
  columns: 9
);

/// tablet breakpoint with 12 columns
/// @group breakpoints
/// @example use:
///   @include media($desktop){
///     [stuff]
///   }
$desktop: (
  media: 980px,
  columns: 12
);

/// pass in the number of columns to kill the right margin on the last element
/// @group breakpoints
/// @example use:
///   @include kill-last-margin(6);
@mixin kill-last-margin($columnNumbers) {
    &:nth-of-type(#{$columnNumbers}) {
        margin-right: 0;
    }
}

#resp-element {
    content : "MOBILE";

    @include grid-media($tablet) {
        content : "TABLET";
    }

    @include grid-media($desktop) {
        content : "DESKTOP";
    }
}
