// override bourbon properties
$em-base: 16;

@function lineHeight($fontPx, $linePx) {
    @return $linePx / $fontPx;
}

@mixin font-size($fontPx) {
    font-size: #{$fontPx}px;
    font-size: rem($fontPx);
}

@mixin font-size-combo($fontPx, $linePx: null) {
    font-size: #{$fontPx}px;
    font-size: rem($fontPx);

    @if $linePx != null {
        line-height: lineHeight($fontPx, $linePx);
    } @else {
        line-height:1;
    }
}

@mixin vertical-align {
    & {
        transform-style: preserve-3d;
    }
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@mixin full-center {
    & {
        transform-style: preserve-3d;
    }
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin horizontal-center {
    & {
        transform-style: preserve-3d;
    }
    left: 50%;
    transform: translate(-50%, 0%);
}

/// strips the unit from $num. Good to use when you need to do math calculations
/// @group _properties
/// @example use:
///   strip-unit(50px);
/// @return {integer} 
@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}
