@import 'global-imports';

.grid-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    @include grid-media($desktop) {
        max-width: inherit;
    }

    > div {
        @include grid-media($desktop) {
            width: 980px;
            margin: 0 auto;
        }
    }


    .grid {
        height: 900px;
        background: #f600f6;
        opacity: 0.5;

        @include grid-media($tablet) {
        }

        @include grid-media($desktop) {
        }
    }
}
